<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 정보</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        header {
            background-color: #007ACC;
            color: #FFF;
            text-align: center;
            padding: 10px;
        }

        nav {
            background-color: #333;
            color: #FFF;
            text-align: center;
            padding: 10px;
        }

        .book-details {
            display: flex;
            justify-content: center;
            gap: 100px;
        }

        .book-image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .book-image {
            width: 200px;
            height: 300px;
            border: 1px solid black;
            object-fit: cover;
        }

        .likes-reviews {
            display: flex;
            gap: 10px;
        }

        .book-info {
            display: flex;
            flex-direction: column;

        }

        .book-info p {
            font-size: 2em;
        }

        .book-info p {
            font-size: 1.2em;
        }

        .book-actions {
            display: flex;
            gap: 10px;
        }

        .book-actions button {
            padding: 100px;
            font-size: 2em;
            margin: 20px;
            cursor: pointer;
        }

        .book-cart {
            background-color: #f0ad4e;
            color: white;
            padding: 10px;
            border: 50px;
        }

        .book-buy {
            background-color: #5cb85c;
            color: white;
            padding: 10px;
            border: 50px;
        }
    </style>
    <script>

        //통화 적용임
        document.addEventListener('DOMContentLoaded', function() {
            // JavaScript 코드 작성
            const price = [[${view.price}]];
            const changePrice = price.toLocaleString('ko-KR');
            document.querySelector('.book-price').textContent = '가격: ' + changePrice + '원';
        });






        //리뷰 등록
        const reviewRegister = async () => {

            const reviewcontent = document.querySelector('#reviewcontent');

            if(reviewcontent.value === ''){
                alert('리뷰을 입력하세요.');
                reviewcontent.focus();
                return false;
            }

            let formData = new FormData(reviewForm)
            await fetch('/product/review?option=I',{
                method: 'POST',
                body: formData
            }).then((response)=> response.json())
                .then((data)=> {
                    reviewList(data);
                    console.log("data = " + data);
                }).catch((error) => {
                    console.log("error = " + error);
                    alert("시스템 장애로 리뷰 등록이 실패했습니다.");
                });

            reviewcontent.value = '';
        }


        //리뷰 목록 가져 오기

        const reviewList = (data) => {

            var session_userid = /*'[[${session.userid}]]'*/ 'aa@aa.com';
            const jsonInfo = data;

            let reviewList = document.querySelector('#reviewList');
            reviewList.innerHTML = '';

            var result = '';
            for(const i in jsonInfo){

                let elm = document.createElement('div'); //<div id='s3' style='font-size:0.8em'></div>
                elm.setAttribute('id','s' + jsonInfo[i].reviewseq);
                elm.setAttribute('style','font-size:0.8em');

                let result = "";
                result += "작성자 : " + jsonInfo[i].reviewer;

                // if(jsonInfo[i].userid === session_userid){
                //     result += "[<a href=" + "'javascript:reviewModify(" + jsonInfo[i].reviewseq + ")' style='cursor:pointer'>수정</a> | ";
                //     result += "<a href=" + "'javascript:reviewDelete(" + jsonInfo[i].reviewseq + ")' style='cursor:pointer'>삭제</a>]";
                // }

                let date = new Date(jsonInfo[i].reviewregdate);
                let year = date.getFullYear();
                let month = date.getMonth() + 1;
                let day = date.getDate();
                let hour = date.getHours();
                let minute = date.getMinutes();
                let second = date.getSeconds();

                month = month >= 10 ? month : '0' + month;
                day = day >= 10 ? day : '0' + day;
                hour = hour >= 10 ? hour : '0' + hour;
                minute = minute >= 10 ? minute : '0' + minute;
                second = second >= 10 ? second : '0' + second;

                let regdate = year + "-" + month + "-" + day + "-" + " " + hour + ":" + minute + ":" + second;

                result += "&nbsp;&nbsp;";
                result += "<div style='width:90%; height: auto; border-top: 1px solid; overflow: auto;'>";
                result += "<pre id='c" + jsonInfo[i].reviewseq + "'>" + jsonInfo[i].reviewcontent + "</pre>";
                result += "</div><br>";

                elm.innerHTML = result;
                reviewList.appendChild(elm);


            }

        }

        //페이지 시작할 때 리뷰 목록 가져 오기
        const startupPage = async () => {
            let formData = new FormData();
            formData.append("bookid", "[[${view.bookid}]]")

            await fetch('/board/review?option=L',{
                method: 'POST',
                body: formData
            }).then((response) => response.json())
                .then((data) => reviewList(data))
                .catch((error) => {
                    console.log("error = " + error);
                    alert("시스템 장애로 리뷰 가져 오기가 실패했습니다.")
                });
        }

        //리뷰 삭제
        const reviewDelete = async(reviewseq) => {
            if(confirm("정말로 삭제하시겠습니까?")) {
                let formData = new FormData();
                formData.append("reviewseq", reviewseq);
                formData.append("bookid", "[[${view.bookid}]]")
                await fetch('/board/review?option=D',{

                    method: 'POST',
                    body: formData
                }).then((response) => response.json())
                    .then((data) => reviewList(data))
                    .catch((error) => {
                        console.log("error =" + error);
                        alert("서버 장애로 리뷰 삭제가 실패했습니다.");
                    });
            }
        }

        //리뷰 수정하기
        const reviewModify = (reviewseq) => {

            //리뷰 내용 임시 저장
            const modifyreviewContent = document.querySelector('#c' + reviewseq);

            var strreviewList = "작성자 : [[${session.username}]]&nbsp;"
                + "<input type='button' id='btn_reviewModify' value='수정'>"
                + "<input type='button' id='btn_reviewModifyCancel' value='취소'>"
                + "<input type='hidden' name='reviewseq' value='" + reviewseq + "'>"
                + "<input type='hidden' name='bookid' value='[[${view.bookid}]]'>"
                + "<input type='hidden' id='reviewer' name='reviewer' value='[[${session.username}]]'>"
                + "<input type='hidden' id='userid' name='userid' value='[[${session.userid}]]'><br>"
                + "<textarea id='modify_reviewcontent' name='reviewcontent' cols='80' rows='5' maxlength='150' placeholder='글자수:150자 이내'>"
                + modifyreviewContent.innerHTML + "</textarea><br>";

            let elm = document.createElement('div'); //<div></div>
            elm.innerHTML = strreviewList;

            //개별 리뷰 목록을 둘러 싸고 있는 div
            let parentDiv = document.querySelector('#s' + reviewseq).parentNode;
            parentDiv.insertBefore(elm,document.querySelector('#s' + reviewseq));
            document.querySelector('#s' + reviewseq).style.display = 'none';

            const btnreviewModify = document.querySelector('#btn_reviewModify');
            const btnreviewModifyCancel = document.querySelector('#btn_reviewModifyCancel');

            btnreviewModify.addEventListener('click', async ()=> {

                let formData = new FormData();
                formData.append("reviewseq", reviewseq);
                formData.append("reviewcontent", modify_reviewcontent.value);

                await fetch('/board/review?option=U',{

                    method: 'POST',
                    body: formData
                }).catch((error) => {
                    console.log("error = " + error);
                    alert("서버 장애로 리뷰 수정이 실패했습니다.");
                });

                document.querySelector('#reviewList').innerHTML = '';
                startupPage();

            });

            btnreviewModifyCancel.addEventListener('click',()=> {
                if(confirm('정말로 취소하시겠습니까?')==true){
                    document.querySelector('#reviewList').innerHTML = '';
                    startupPage();
                }
            });
        }

        //리뷰 등록 취소
        const reviewCancel = () => {
            if(confirm('정말로 취소하시겠습니까?')==true){
                reviewcontent.value = '';
                reviewcontent.focus();
            }

        }





        function checkAndAlert() {

            var reviewContentTextarea = document.getElementById("reviewcontent");
            var currentNickname = "aa@aa.com"; //일단 임의값 넣었음

            // 새로운 닉네임이 null이고 리뷰 칸에 커서를 대면 확인 대화상자 띄우기
            if (currentNickname === "bb@aa.com") {
                if (confirm("새로운 닉네임을 입력하세요. 계속하시겠습니까?")) {
                    reviewContentTextarea.blur(); // 리뷰 내용 입력 칸의 포커스 해제

                    // "확인"을 눌렀을 때 실행될 코드
                    window.open("nickname", "닉네임입력", "width=950, height=540, top=50, left=50"); // 새 창 열기
                }
            }
        }




    </script>
</head>
<body>
<header>
    <h1>교보문고</h1>
</header>

<nav>
    <a href="#">홈</a> |
    <a href="#">도서</a> |
    <a href="#">이벤트</a> |
    <a href="#">마이페이지</a>
    <a href="/member/signup">회원가입</a>
</nav>
<br><br><br>
<div class="book-details">
    <div class="book-image-container"><br><br>
        <img class="book-image" src="book.jpg" alt="책 이미지">
        <div class="likes-reviews">
            <p class="book-likes">좋아요: 00</p>
            <p class="book-reviews">후기: 00</p>
        </div>
    </div>
    <div class="book-info" th:if="${view != null}"><br><br>
        <p class="book-title" th:text="${view.bookname}"></p>
        <p class="book-author" th:text="'작가: ' + ${view.author}"></p>
        <p class="book-price" th:text="'가격: ' + ${view.price} + '원'"></p>
        <p class="book-discount" th:text="'할인율: ' + ${view.sale} + '%'"></p>
        <p class="book-price" th:text="'포인트 적립: ' + ${#numbers.formatInteger(view.price * 0.05, 3, 'COMMA')} + '원'"></p>

        <div class="book-actions">
            <a href="shoppingBasket.html" class="book-cart">장바구니</a>
            <a href="shoppingBasket.html" class="book-buy">구매하기</a>
        </div>
    </div>


</div>
<div class="reviewDiv" style="width:60%;height:300px;margin:auto;text-align:left;">

    <p id="reviewNotice">리뷰을 작성해 주세요.</p>
    <form id="reviewForm" name="reviewForm" method="POST">
    <!--작성자: <input type="text" id="reviewer" name="reviewer" th:value="${session.nickname}" readonly-->
    작성자: <input type="text" id="reviewer" name="reviewer" th:value="'aa@aa.com'" readonly>


        <label for="reviewcontent">리뷰 내용: </label>
        <textarea id="reviewcontent" name="reviewcontent" cols="80" rows="5" maxlength="150" placeholder="글자수: 150자 이내"
                  onfocus="checkAndAlert()"></textarea><br>
        <!--input type="hidden" id="bookid" name="bookid" th:value="${session.bookid}">
        <input type="hidden" id="userid" name="userid" th:value="${session.userid}"-->
        <input type="hidden" id="bookid" name="bookid" th:value="'1'">
        <input type="hidden" id="userid" name="userid" th:value="'aa@aa.com'">
    </form>

    <input type="button" id="btn_review" value="리뷰 등록" onclick="reviewRegister()">
    <input type="button" id="btn_cancel" value="취소" onclick="reviewCancel()">
    <hr>
    <div id="reviewList" style="width:100%; height:600px; overflow:auto;"></div>

</div>
</body>
</html>
