<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>


<h1>로그인</h1>
<form name="loginForm" id="loginForm" method="post">
    <input type="text" name="email" class="email" id="email" placeholder="아이디를 입력하세요">
    <input type="password" name="password" class="password" id="password" placeholder="패스워드를 입력하세요"  onkeydown="press()">
    <p id="msg" style="color:red; text-align:center"></p>
    <br>
    <input type="checkbox" id="rememberEmail" onclick="checkRememberEmail()">아이디 기억
    <input type="checkbox" id="rememberPassword" onclick="checkRememberPassword()">패스워드 기억
    <input type="checkbox" id="rememberMe" class="remember" name="remember-me" onclick="checkRememberMe()">자동 로그인
    | <a href="/oauth2/authorization/google">구글계정으로 로그인</a>
    <br><br>
    <input type="button" id="btn_login" class="btn_login" value="로그인" onclick="loginCheck()">
</form>

<div class="bottomText">사용자가 아니면 ▶<a href="/member/unmemberlogin">여기</a>를 눌러 비회원 로그인 해주세요.<br><br>
    [<a href="/member/searchID" onMouseover="this.style.background='pink'; this.style.textDecoration='underline';"
        onmouseout="this.style.background='white'; this.style.textDecoration='none';">아이디</a> |
    <a href="/member/searchPassword" onMouseover="this.style.background='pink'; this.style.textDecoration='underline';"
       onmouseout="this.style.background='white'; this.style.textDecoration='none';">패스워드</a>  찾기]  <br><br>
</div>



</body>
</html>