<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
    <title>회원구매내역조회</title>
    <script src="/js/getCookie.js"></script>
<body>
    <header>
        <h1>교보문고</h1>
    </header>
    <h2>구매내역조회</h2>
    <div>
        <table border="1px">
            <tr>
                <th>주문일자</th>
                <th>주문번호</th>
                <th>상품명</th>
                <th>주문상태</th>
                <th>결제금액</th>
                <th rowspan="2"> <a href="/product/productInfo" onMouseover="this.style.background='pink'; this.style.textDecoration='underline';"
                                    onmouseout="this.style.background='white'; this.style.textDecoration='none';">리뷰작성</a></th>
            </tr>
            <<th:block th:if="${purchaseList != null}">
            <tr th:each="list:${purchaseList}"
                onMouseover="this.style.background='#46D2D2'"
                onMouseout="this.style.background='white'">
                <td th:text="${purchaseList.purchasedate}"></td>
                <td th:text="${purchaseList.purchaseinfonumber}"></td>
                <td th:text="${purchaseList.status}"></td>
                <td th:text="${purchaseList.totalprice}"></td>
            </tr>
            </th:block>
            <th:block th:if="${purchaseList == null}">
                <td colspan="5">구매목록이 없습니다.</td>
            </th:block>
        </table>
    </div>
    <div class="bottomText">
        [<a href="/" onMouseover="this.style.background='pink'; this.style.textDecoration='underline';"
            onmouseout="this.style.background='white'; this.style.textDecoration='none';">교환</a> |
        <a href="/" onMouseover="this.style.background='pink'; this.style.textDecoration='underline';"
           onmouseout="this.style.background='white'; this.style.textDecoration='none';">환불</a>]
        <a href="/" onMouseover="this.style.background='pink'; this.style.textDecoration='underline';"
           onmouseout="this.style.background='white'; this.style.textDecoration='none';">주문확정</a>
        <br><br>
    </div>
</body>
</html>