<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<style>

</style>
</head>
<body>
<div th:insert="~{/etc/header.html}"></div>
<br><br>
<h2 th:text="${memberInfo.username} "> <a href="/member/memberPurchaseList">장바구니</a></h2>
<br><br>
<h4 th:text="${memberInfo.username} "><a href="/member/memberInfoModify">정보수정</a></h4>

<div class="table-container">
    <table class="InfoTable">
        <tr>
            <th>포인트</th>
            <th>총 리뷰</th>
            <th th:href="/product/shoppingBasket">장바구니</th>
            <th th:href="/member/memberPurchaseList">구매 내역</th>
        </tr>
        <tr>
            <td th:text="${memberInfo.point}"></td>
            <td th:text="${countReviewsByUserId}"></td>
            <td th:text="${cartcount}"></td>
            <td th:text="${}"></td>
        </tr>
    </table>
</div>
</div>
</body>
</html>
