

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PW 찾기</title>
    <link rel="stylesheet" href="/css/style.css">
    <script>
        const pwSearchByTelno = async() => {
            if(useridT.value===null){
                alert("아이디를 입력하세요");
                useridT.focus();
                return false;
            }if(nameT.value===null){
                alert("이름을 입력하세요");
                nameT.focus();
                return false;
            }if(birthdayT.value===null){
                alert("생년월일을 입력하세요");
                birthdayT.focus();
                return false;
            }if(telno.value===null){
                alert("전화번호를 입력하세요");
                telno.focus();
                return false;
            }

            let formData = new FormData(findByTelnoForm);

            await fetch("/member/idSearch",{
                method:'POST',
                body:formData
            }).then((response)=> response.json())
                .then((data) => {
                    if(data.status === 'GOOD'){
                        document.location.href="/member/pwModify";
                    } else if(data.status === 'ID_NOT_FOUND'){
                        alert("입력값을 확인해주세요");
                    }
                }).catch((error)=> {
                    console.log((error)=> console.log("error = " + error))
                });
        }
    </script>
    <div th:insert="~{/etc/header.html :: headerFragment}"></div>
</head>
<body>
<div class="container">
    <br><br><br>
    <h2>PW 찾기</h2>
    <form id="findByTelnoForm" action="/submit" method="post">
        <input type="text" id="useridT" name="useridT" placeholder="아이디">
        <br>
        <input type="text" id="nameT" name="nameT" class="input_field" placeholder="이름">
        <br>
        <input type="text" id="birthdayT" name="birthdayT" class="input_field" placeholder="생년월일">
        <br>
        <input type="text" id="telno" name="telno" class="input_field" placeholder="휴대폰번호">
        <br>
        <input type="button" id="btn_idSearchByTelno" class="btn_idSearchByTelno" value="비밀번호 찾기" onclick="pwSearchByTelno()">
    </form>
</div>
</body>
</html>