<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비회원 구매내역 조회</title>
    <link rel="stylesheet" href="/css/style.css">
<div th:insert="~{/etc/header.html :: headerFragment}"></div>
</head>
<body>
<h2>비회원 구매내역조회</h2>
<div class="unmemberps">
    <table>
        <tr>
            <th>주문일자</th>
            <th>주문번호</th>
            <th>상품명</th>
            <th>주문상태</th>
            <th>결제금액</th>
        </tr>
        <th:block th:if="${purchaseList != null}">
        <tr th:each="list:${purchaseList}"
            onMouseover="this.style.background='#46D2D2'"
            onMouseout="this.style.background='white'"
            style="text-align: center">
            <td th:text="${#dates.format(list.purchasedate, 'yyyy-MM-dd')}"></td>
            <td th:text="${list.unmemberpurchaseinfoseq}"></td>
            <td th:text="${list.bookname}"></td>
            <td th:text="${list.statusname}"></td>
            <td th:text="|${#numbers.formatInteger(list.total_price, 0, 'COMMA')}원|"></td>
        </tr>
        </th:block>
        <th:block th:if="${purchaseList == null}">

            <td colspan="5">구매목록이 없습니다.</td>
        </th:block>
    </table>
</div>
<!--<div class="bottomText">-->
<!--    [<a href="/" onMouseover="this.style.background='pink'; this.style.textDecoration='underline';"-->
<!--        onmouseout="this.style.background='white'; this.style.textDecoration='none';">교환</a> |-->
<!--    <a href="/" onMouseover="this.style.background='pink'; this.style.textDecoration='underline';"-->
<!--       onmouseout="this.style.background='white'; this.style.textDecoration='none';">환불</a>]-->
<!--    <a href="/" onMouseover="this.style.background='pink'; this.style.textDecoration='underline';"-->
<!--       onmouseout="this.style.background='white'; this.style.textDecoration='none';">주문확정</a><br><br>-->
<!--</div>-->

</body>
</html>