<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비회원로그인</title>
    <link rel="stylesheet" href="/css/style.css">
    <script>
        //로그인 처리
        const unMemberLoginCheck = async () => {

            const temppassword = document.querySelector('#temppassword');
            const receivertelno = document.querySelector('#receivertelno');
            const msg = document.querySelector('#msg');

            if(receivertelno.value === ''){
                alert("전화번호를 입력하세요")
                receivertelno.focus();
                return false;
            }

            if(temppassword.value === ''){
                alert("비밀번호를 입력하세요")
                temppassword.focus();
                return false;
            }

            let formData = new FormData();
            formData.append("receivertelno", receivertelno.value);
            formData.append("temppassword", temppassword.value);
            console.log(temppassword.value);
            console.log(receivertelno.value);

            await fetch('/member/unMemberLoginCheck',{
                method: "POST",
                body: formData
            }).then((response) => response.json())
                .then((data) => {
                    if(data.message === 'GOOD'){
                        document.location.href="/member/unMemberPurchaseList?receivertelno="+ receivertelno.value;
                    }else if(data.message ==='Receivertelno_NOT_FOUND'){
                        msg.innerHTML = '잘못된 전화번호입니다';
                    }else if(data.message === 'PASSWORD_NOT_FOUND'){
                        msg.innerHTML = '잘못된 비밀번호입니다';
                    }else{
                        alert("시스템 장애로 로그인이 실패했습니다");
                    }
                }).catch((error) => {
                    console.log("error =" + error);
                })
        }

        window.onload = async() => {

            const unMemberlogin = () => {
                document.loginForm.action = '/member/unMemberLogin'; //리퀘스트 발생
                document.loginForm.submit();
            }
        }

        const signup=()=>{
            window.location.href="/member/signup";
        }
    </script>
    <div th:insert="~{/etc/header.html :: headerFragment}"></div>
</head>
<body>
<div class="container">
    <br><br><br>
    <h2>비회원로그인</h2>
    <form name="loginForm" id="loginForm" method="post">
        <input type="text" name="receivertelno" class="form-input" id="receivertelno" placeholder="전화 번호를 입력하세요">
        <input type="password" name="temppassword" class="form-input" id="temppassword" placeholder="패스워드를 입력해주세요">
        <input type="button" id="btn_login" class="btn_login" value="로그인" onclick="unMemberLoginCheck()">
        <input type="button" id="btn_signup" class="btn_signup" value="회원가입" onclick="signup()">
        <p id="msg" style="color:red; text-align:center"></p>
        <br>
        <div class="remember">
            <br><br>
        </div>
    </form>
    <br><br>
</div>
</body>
</html>