<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
<meta charset="UTF-8">
<title>회원 통계</title>
<header>
<style>

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f2ede9;
    }

    header {
        background: #ffc118;
        color: #FFF;
        text-align: center;
        padding: 10px;
        height: 200px;
    }

    nav {
        text-align: center;
        padding: 10px;
    }

    h2{
        font-family: 'WarhavenB';
        font-size: 30px;
        color: #191919;
    }

    #ranking {
        margin-right: 20px;
        color: black;
        text-align: left;
        margin-top: 50px;
    }

</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    window.onload = () => {
        var ageChart;
        var userTypeChart;

        // 처음 화면에 보이는 차트(연령대별)
        var ageData = {
            labels: ["10대", "20대", "30대", "40대", "50대"],
            datasets: [
                {
                    label: '가입 연령',
                    backgroundColor: 'rgba(254, 220, 128, 1)',
                    borderColor: 'rgba(254, 220, 128, 1)',
                    borderWidth: 1,
                    data: [`[[${cnt10}]]`, `[[${cnt20}]]`, `[[${cnt30}]]`, `[[${cnt40}]]`, `[[${cnt50}]]`],
                }]
        };

        var ageOptions = {
            scales: {
                y: {
                    beginAtZero: true,
                    ticks : {
                        stepSize: 1 // 눈금 간격 1로 설정
                    }
                }
            }
        };

        var ageChartCtx = document.getElementById('myBarChart').getContext('2d');
        ageChart = new Chart(ageChartCtx, {
            type: 'bar',
            data: ageData,
            options: ageOptions
        });

        // 순위 표시
        var rankingDiv = document.getElementById('ranking');
        var rankingData = ageData.datasets[0].data.slice().sort(function (a, b) { return b - a });
        rankingDiv.innerHTML='';
        for (var i = 0; i < Math.min(rankingData.length, 3); i++) {
            var index = ageData.datasets[0].data.indexOf(rankingData[i]);
            rankingDiv.innerHTML += '<p>' + (i + 1) + '위: ' + ageData.labels[index] + '</p>';
        }

        // 선택 시 차트 보여주기
        document.getElementById('chartType').addEventListener('change', function () {
            var selectedChartType = this.value;
            if (selectedChartType === '연령대(일반회원)') {
                // 이용자 구분 차트 파괴
                if (userTypeChart) {
                    userTypeChart.destroy();
                    userTypeChart = null;
                }

                document.getElementById('secondBarChart').style.display = 'none';  //  이용자 구분 차트 숨김
                document.getElementById('myBarChart').style.display = 'block';  // 연령대 차트 보여줌
                rankingDiv.innerHTML = '';  // 랭킹차트 생성

                ageChart = new Chart(ageChartCtx, {
                    type: 'bar',
                    data: ageData,
                    options: ageOptions
                });

                // 랭크 표시
                var ageRankingData = ageData.datasets[0].data.slice().sort(function (a, b) { return b - a });
                rankingDiv.innerHTML='';
                for (var i = 0; i < Math.min(ageRankingData.length, 3); i++) {
                    var index = ageData.datasets[0].data.indexOf(ageRankingData[i]);
                    rankingDiv.innerHTML += '<p>' + (i + 1) + '위: ' + ageData.labels[index] + '</p>';
                }
            } else if (selectedChartType === '이용자 구분') {
                // 연령대 차트 파괴
                if (ageChart) {
                    ageChart.destroy();
                    ageChart = null;
                }

                document.getElementById('myBarChart').style.display = 'none';  // 연령대 차트 숨김
                document.getElementById('secondBarChart').style.display = 'block';  // 이용자 구분 차트 보여줌
                rankingDiv.innerHTML = '';  //랭크 순위 초기화

                // 이용자 구분 차트 생성 후 보여주기
                var userTypeData = {
                    labels: ["일반 회원", "소셜 회원"],
                    datasets: [
                        {
                            label: '이용자 구분',
                            backgroundColor: 'rgba(254, 220, 128, 1)',
                            borderColor: 'rgba(254, 220, 128, 1)',
                            borderWidth: 1,
                            data: [`[[${normal}]]`, `[[${social}]]`],
                        }]
                };

                var userTypeOptions = {
                    scales: {
                        y: {
                            beginAtZero: true,
                        }
                    }
                };

                var userTypeChartCtx = document.getElementById('secondBarChart').getContext('2d');
                userTypeChart = new Chart(userTypeChartCtx, {
                    type: 'bar',
                    data: userTypeData,
                    options: userTypeOptions
                });
            }
        });
    }
</script>
</head>
<body>
<div th:include="/etc/header.html :: banner"></div>
<div style="max-width: 400px; margin: auto; margin-top: 100px">
    <h2 style="text-align: center">회원 통계</h2>
    <div style="width:80%; text-align:right; position:relative; left: 35px; margin:10px; padding: 10px;">
        <select name="job" id="chartType">
            <option value="all" disabled selected>선택</option>
            <option value="연령대(일반회원)">연령대(일반회원)</option>
            <option value="이용자 구분">이용자 구분</option>
        </select>
    </div>
    <div style="display: flex; justify-content: center">
    <canvas id="myBarChart" th:context="2d" width="400" height="200"></canvas>
    </div>
    <div style="display: flex; justify-content: center">
    <canvas id="secondBarChart" th:context="2d" width="400" height="200" style="display: none;"></canvas>
    </div>
    <div id="ranking" ></div>
</div>
</body>
</html>
