
<div th:fragment="banner">
    <header>
        <h1><a href="/">IT커넥션</a></h1>
    </header>
</div>

<div th:fragment="nav">
    <nav>
    <!-- 세션 값이 없을 경우 로그인 및 회원가입 버튼 표시 -->
        <div th:if="${session.userid == null}">
            <a href="/product/productList">도서</a> |
            <a href="/product/shoppingBasket">장바구니</a> |
            <a href="/member/login">로그인</a> |
            <a href="/member/signup">회원가입</a>
        </div>
        <!-- 세션 값이 있을 경우 로그아웃 및 마이페이지 버튼 표시 -->
        <div th:if="${session.userid != null}">
            <a href="/product/productList">도서</a> |
            <a href="/product/shoppingBasket">장바구니</a> |
            <a href="/member/mypage">마이페이지</a> |
            <a href="/member/logout">로그아웃</a>
        </div>
    </nav>
</div>
